.vs/
SE_project/.vs/SE_project/v17/.suo
SE_project/SE_project/obj/Debug/net6.0-windows/apphost.exe
SE_project/SE_project/obj/Debug/net6.0-windows/ref/SE_project.dll
SE_project/SE_project/obj/Debug/net6.0-windows/SE_project.assets.cache
SE_project/SE_project/obj/Debug/net6.0-windows/SE_project.csproj.CoreCompileInputs.cache
SE_project/SE_project/obj/Debug/net6.0-windows/SE_project.csproj.FileListAbsolute.txt
SE_project/SE_project/obj/Debug/net6.0-windows/SE_project.csproj.GenerateResource.cache
SE_project/SE_project/obj/Debug/net6.0-windows/SE_project.GeneratedMSBuildEditorConfig.editorconfig
SE_project/SE_project/obj/Debug/net6.0-windows/SE_project.genruntimeconfig.cache
SE_project/SE_project/obj/Debug/net6.0-windows/SE_project.pdb
SE_project/SE_project/obj/project.assets.json
SE_project/SE_project/obj/project.nuget.cache
SE_project/SE_project/obj/SE_project.csproj.nuget.dgspec.json
SE_project/SE_project/obj/SE_project.csproj.nuget.g.props
